<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js">
        </script>
        <script>
            var HelloCtrl = function ($scope) {
                $scope.getName = function () {
                    return $scope.name;
                };
            };
            var WorldCtrl = function ($scope) {
                $scope.population = 7000;
                $scope.countries = [
                    {name: 'France', population: 63.1},
                    {name: 'United Kingdom', population: 61.8},
                ];
                $scope.worldsPercentage = function (countryPopulation) {
                    return (countryPopulation / $scope.population)*100;
                }
            };
        </script>
    </head>
    <body ng-app>
        <div ng-controller="HelloCtrl">
            Say hello to: <input type="text" ng-model="name"><br>
            <h1>Hello, {{getName()}}!</h1>
        </div>

        <ul ng-controller="WorldCtrl">
            <li ng-repeat="country in countries">
                {{country.name}} has population of {{country.population}}, {{worldsPercentage(country.population)}} % of the World's population
            </li>
            <hr>
            World's population : {{population}} millions
        </ul>
    </body>
</html>